@import 'color';

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  width: 100%;
  max-width: 140rem;
}

.item-content-wrapper {
  display: flex;
  gap: 4.8rem;
  margin-bottom: 2.4rem;
}

.page-navigation {
  margin-bottom: 2.4rem;
  padding: 1.2rem 0;
  background-color: $component-background;
  border-bottom: 1px solid $component-border;
  
  .content-wrapper {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1.8rem;
  }

  &__link {
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

.page-aside {
  position: sticky;
  top: 2.4rem;
  padding: 1.2rem;
  width: 28rem;
  height: max-content;
  background-color: $component-background;
  border: 1px solid $component-border;
  border-radius: 0.4rem;

  &__charges {
    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.2rem;

    &__bar {
      flex: 1;
      height: 2px;
      background-color: $primary;
    }
  }

  &__item {
    margin-bottom: 1.2rem;
    width: 64px;
    height: 64px;
    background-image: url('/repentance-items.png');
    background-size: cover;
    border: 1px solid $component-border;
    border-radius: 0.4rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__description {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    opacity: 0.9;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 2.4rem;
    font-size: 1.3rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    opacity: 0.9;
  }
}

.page-content {
  flex: 1;
}

.page-footer {
  margin-top: auto;
  padding: 0.6rem 0;
  background-color: $component-background;
  border-top: 1px solid $component-border;
  font-size: 1.3rem;

  &__copyright {
    opacity: 0.7;
  }
}
